// General color definitions
.color-high,
.past {
  color: $color-high;
}

.color-medium {
  color: $color-medium;
}

.color-high,
.color-medium.color-high,
.color-low.color-high {
  color: $color-high;
}

td .formatted-amount {
  transition: all .22s;
}

.row-amount {
  transition: all .22s;

  span {
    transition: all .22s;
  }

  &.color-low span {
    opacity: .9;
  }

  &.color-medium span {
    opacity: .5;
  }

  &.color-high span {
    opacity: .5;
  }
}

tr:hover .row-amount span {
  filter: saturate(100%);
  opacity: 1;
}

.row-type,
.row-refnumber,
.row-description {
  color: rgba(#000, .3);
  transition: all .22s;
}

tr:hover {
  .row-type,
  .row-refnumber,
  .row-description {
    color: rgba(#000, .8);
  }
}

tr:hover .past {
  opacity: 1;
  filter: saturate(100%);
}

.row-duedate {
  transition: all .22s;

  &.future {
    color: rgba($color-altblue, .3);
  }

  &.past {
    filter: saturate(80%);
  }

  &.soon,
  &.soon.future {
    filter: saturate(50%);
    color: $color-high;
  }
}

tr:hover .row-duedate.future {
  @extend .future;
}

tr:hover .row-duedate.past {
  @extend .past;
  filter: saturate(100%);
}

.color-low,
.future {
  color: $color-low;
}

// Selections
::selection {
  color: $color-main;
  background: $color-default;
}
