// General color definitions
.color-high,
.past {
  color: $color-high;
}

.color-medium {
  color: $color-medium;
}

.color-high,
.color-medium.color-high,
.color-low.color-high {
  color: $color-high;
}

td .formatted-amount {
  opacity: .85;
  transition: all .22s;
}

tr:hover .past {
  opacity: 1;
  filter: saturate(100%);
}

.row-duedate {
  &.future {
    color: rgba($color-altblue, .3);
  }

  &.past {
    filter: saturate(80%);
  }

  &.soon,
  &.soon.future {
    filter: saturate(50%);
    color: $color-high;
  }
}

.color-low,
.future {
  color: $color-low;
}

// Selections
::selection {
  color: $color-main;
  background: $color-default;
}
