// General color definitions
.color-high,
.past {
  color: $color-high;
}

.color-medium {
  color: $color-medium;
}

.color-high,
.color-medium.color-high,
.color-low.color-high {
  color: $color-high;
}

td .formatted-amount {
  opacity: .85;
  transition: all .22s;
}

tr:hover .formatted-amount {
  opacity: 1;
}

.color-low,
.future {
  color: $color-low;
}

// Selections
::selection {
  color: $color-main;
  background: $color-default;
}
