body {
  .row-hidden {
    display: none;
  }

  .row-amount {
    text-align: right;
  }

  .row-virtualcode,
  .row-refnumber {
    max-width: 20rem;
  }

  .message.success {
    border-radius: 4px;
    background: $color-success;
    padding: 3px 6px;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 500;
    margin-bottom: auto;
  }

  .row-description {
    max-width: 25rem;
  }

  td,
  th {
    padding: .5rem;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    position: relative;
  }

  .able-to-copy:hover {
    cursor: pointer;
  }

  th {
    text-align: left;
    font-weight: 300;
    font-size: 1.25rem;
    display: none;
  }

  table {
    width: 100%;
    border: 0;

    @media (max-width: 560px) {
      width: 100%;
      max-width: 100%;

      td,
      th,
      span {
        font-size: 12px;
      }

      td {
        width: 100%;
        max-width: 150px;
      }
    }

    @media (max-width: 500px) {
      td {
        max-width: 100px;

        &.row-biller {
          max-width: 170px !important;
        }

        &.row-duedate {
          max-width: 120px !important;
        }
      }
    }

    @media (max-width: 440px) {
      td {
        max-width: 100px;

        &.row-biller {
          max-width: 150px !important;
        }

        &.row-duedate {
          max-width: 100px !important;
        }
      }
    }

    @media (max-width: 390px) {
      td {
        max-width: 100px;

        &.row-biller {
          max-width: 150px !important;
        }

        &.row-duedate {
          display: none;
        }
      }
    }
  }
}
