{
  "extends": "stylelint-config-wordpress/scss",
  "rules": {
    "block-no-empty": true,
    "declaration-empty-line-before": "never",
    "rule-empty-line-before": "always",
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
          "after-same-name",
          "blockless-after-same-name-blockless"
        ],
        "ignore": [
          "after-comment"
        ]
      }
    ]
  },
  "ignoreFiles": [
    "**/*.css",
    "public/css/**/*.css",
    "public/css/**",
    "public/css/app.min.css",
    "public/style.css",
    "dist/**/*.css"
  ]
}