.dashboard-content {
  padding: 5rem;

  @media (min-width: 760px) {
    @include grid(2, $gutter_x: 40px, $gutter_y: 40px);
    width: 70%;
  }

  h1 {
    margin-top: 0;
  }

  .column {
    @media (max-width: 760px) {
      width: 100%;
    }
  }

  .status {
    display: flex;
    justify-content: space-between;
    border: 1px solid darken(#f8f9fa, 10%);
    border-radius: .5rem;
    padding: 20px;
    margin-bottom: 5rem;

    .amount {
      margin: 0;
      font-weight: 500;
    }
  }

  .title-small {
    font-size: 15px;
    color: darken(#f8f9fa, 30%);
    margin: 0 0 1rem;
  }

  // Bills
  .item {
    border: 1px solid darken(#f8f9fa, 10%);
    border-radius: .5rem;
    padding: 20px;
    margin-bottom: 1.5rem;

    svg {
      position: absolute;
      top: 0;
      right: 0;
      height: 20px;
      width: auto;
    }

    .bill-details {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .amount {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 1rem;
        transition: all .66s;
        color: #ddd;
      }
    }

    .bill-details li {
      width: 50%;
    }
  }

  .more-details {
    display: flex;
    flex-wrap: wrap;

    li {
      line-height: 1.33;
      font-size: 11px;
      color: darken(#f8f9fa, 20%);

      span {
        transition: all .66s;
      }

      span:hover {
        color: $color-default;
      }
    }

    li:after {
      content: ', ';
      display: inline;
      margin-right: 3px;
    }

    li:last-child:after {
      display: none;
    }

    .due-date {
      font-weight: 500;
      margin-left: auto;
      margin-top: 1rem;
    }
  }

  .payment-details {
    display: none;
  }

  .biller {
    font-size: 14px;
    color: darken(#f8f9fa, 20%);
    font-weight: 500;
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

.column-credit-cards,
.column-payment-plans,
.column-friend-loans {
  display: none;
}
