.dashboard-content {
  .status {
    display: flex;
    justify-content: space-between;
    border: 1px solid $color-darkgrey;
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 5rem;

    .item-col {
      white-space: nowrap;
    }

    @media (max-width: 480px) {
      .sum {
        font-size: 2.4rem;
      }
    }

    @media (max-width: 1350px) {
      display: block;

      .item-col {
        width: 100%;
        margin-bottom: 2rem;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      h2 {
        margin: 0 0 .5rem;
      }
    }

    .amount {
      margin: 0;
      font-weight: 500;
    }
  }

  .title-small {
    font-size: 15px;
    color: $color-darkestgrey;
    margin: 0 0 1rem;
  }

  // Bills
  .item {
    border: 1px solid $color-darkgrey;
    border-radius: .5rem;
    padding: 20px;
    margin-bottom: 1.5rem;

    .bill-details {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      .logo svg {
        position: absolute;
        top: 0;
        right: 0;
        height: 20px;
        width: auto;
      }

      .amount {
        width: 100%;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 1rem;
        transition: all .66s;
        color: #ddd;
      }
    }

    .bill-details li {
      width: 50%;
    }
  }

  .more-details {
    display: flex;
    flex-wrap: wrap;

    li {
      line-height: 1.33;
      font-size: 11px;
      color: $color-darkergrey;

      span {
        transition: all .66s;
      }

      span:hover {
        color: $color-default;
      }
    }

    li:after {
      content: ', ';
      display: inline;
      margin-right: 3px;
    }

    li:last-child:after {
      display: none;
    }

    .due-date {
      font-weight: 500;
      margin-left: auto;
      margin-top: 1rem;
    }
  }

  .payment-details {
    display: none;
  }

  .biller {
    font-size: 14px;
    color: $color-darkergrey;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }
}

.column-bills {
  width: 100%;
  overflow: visible;
  display: block;
  background: #fff;
  border-radius: .5rem;

  &.column-bills-paid {
    margin-bottom: 5rem;
  }

  table {
    border-radius: .5rem;
    border: 1px solid $color-darkgrey;
  }

  td {
    padding: 1rem 2rem;
    font-weight: 500;
    border-bottom: 1px solid #f0eff2;
  }

  .row-biller,
  .row-duedate {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .row-biller {
    max-width: 280px;
  }

  .row-duedate {
    max-width: 150px;
  }

  .row-amount {
    max-width: 90px;
  }

  tr {
    border-radius: .5rem;
  }

  td:first-of-type {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }

  td:last-of-type {
    border-bottom: 0;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }

  tr:hover {
    background: rgba(lighten(#f0eff2, 1%), .5);
    cursor: pointer;
  }

  .row-clickable:hover {
    cursor: pointer;
  }
}

.dashboard {
  transition: all .33s;
}

.modal-opened {
  overflow: hidden;
}

.modal-opened .dashboard {
  filter: blur(8px);
  transform: scale(1.005);
}
