.inbox-zero {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dae0e5;
  border-radius: .5rem;
  padding: 2rem;

  .freedom {
    text-align: center;
    max-width: 30rem;
    opacity: .6;
    filter: saturate(50%);

    &.freedom-tada svg {
      margin-right: -25px;
    }

    &.freedom-calendar svg {
      width: 80px;
      height: 80px;
    }

    svg {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
      margin-top: 20px;

      path {
        fill: #2d404e;
      }
    }

    @media (max-width: 500px) {
      svg {
        width: 80px;
        height: 80px;
      }
    }
  }

  .punchline {
    font-family: $font-alt;
    font-size: 1.5rem;
    color: #2d404e;
    font-weight: 500;
    margin: 0 0 2.5rem;
    max-width: 25rem;
  }
}

.dashboard-content {
  padding: 5rem;
  width: 100%;

  @media (min-width: 560px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (max-width: 760px) {
    padding: 3rem;
  }

  h1 {
    margin-top: 0;
  }

  .column-fullwidth {
    width: 100%;
    margin-bottom: 5rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .column {
    width: 40%;
    margin-right: 5rem;
    margin-bottom: 5rem;

    // Minimum width for the table
    min-width: 464px;

    @media (max-width: 1213px) {
      width: 100%;
      max-width: 464px;
    }

    @media (max-width: 560px) {
      min-width: 220px;
      margin-bottom: 5rem;
      margin-right: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.add-new {
  width: 26px;
  height: 26px;
  margin-left: 1rem;
  background: #fff;
  border-radius: 50%;
  padding: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;

  &:hover {
    background: #efefef;
    cursor: pointer;
  }
}
