.dashboard-content {
  padding: 5rem;

  @media (min-width: 1020px) {
    @include grid(2, $gutter_x: 50px, $gutter_y: 50px);
  }

  @media (max-width: 760px) {
    padding: 3rem;
  }

  h1 {
    margin-top: 0;
  }

  .column {
    @media (max-width: 1020px) {
      width: 100%;
    }
  }
}

.add-new {
  width: 26px;
  height: 26px;
  margin-left: 1rem;
  background: #fff;
  border-radius: 50%;
  padding: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1px;

  &:hover {
    background: #efefef;
    cursor: pointer;
  }
}

.bills-form input,
.bills-form select {
  border: 0;
  background: transparent;
  color: $color-body;
  font-size: 14px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 34rem;

  &:hover,
  &:focus {
    background: rgba($color-grey, .1);
  }

  &.biller-label {
    font-size: 2.2rem;
    font-weight: 500;

    &::placeholder {
      font-size: 2.2rem;
      font-weight: 500;
    }
  }

  &::placeholder {
    opacity: 1;
    color: $color-body;
    font-size: 14px;
  }
}

.bills-form {
  .bills-footer span,
  .bills-footer input,
  .bills-footer input::placeholder {
    font-family: $font-alt;
    font-size: 2.2rem;
    font-weight: 500;
    opacity: 1;
    color: $color-body;
  }

  .flex {
    align-items: center;
    color: $color-body;
    display: flex;
  }

  .flex input {
    margin-left: .6rem;
  }

  select {
    position: relative;
    background: transparent;
    background-image: none;
    outline: none;
    cursor: pointer;
    text-overflow: '';
    text-indent: 0;
    appearance: none;
    padding-left: 0;
    padding-right: 0;
    color: darken($color-body, 20%);
  }

  .bill-number {
    display: flex;
    justify-content: flex-end;

    input {
      margin-bottom: auto;
      max-width: 12rem;
    }
  }
}

.column-credit-cards,
.column-payment-plans,
.column-friend-loans {
  display: none;
}
