.items-creditcards .item-creditcard .credit-card {
  @include background-cover();
  border-radius: 8px;
  width: 275px;
  height: 170px;
  position: relative;

  @media (max-width: 1420px) {
    margin-bottom: 20px;
  }

  .name-on-card {
    font-family: var(--font-alt);
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
  }

  .numbers {
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;

    span {
      font-size: 11px;
      letter-spacing: 3px;
      margin-right: 6px;
    }
  }

  .expiration-date {
    color: #fff;
    letter-spacing: 4px;
    font-size: 15px;
  }

  @media (min-width: 1420px) and (max-width: 1655px) {
    width: 200px;
    height: 125px;

    .numbers,
    .expiration-date,
    .name-on-card {
      font-size: 11px;
    }

    .numbers span {
      font-size: 9px;

      b {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 480px) {
    width: 200px;
    height: 125px;

    .numbers,
    .expiration-date,
    .name-on-card {
      font-size: 11px;
    }

    .numbers span {
      font-size: 9px;

      b {
        margin-right: 0;
      }
    }
  }
}

.credit-card.credit-card-bank-norwegian {
  background-color: #e10d41;
  background-image: url('../images/creditcard-banknorwegian.png');
  padding: 20px 22px;

  .name-on-card,
  .numbers,
  .expiration-date {
    position: absolute;
    margin: 0;
  }

  .numbers {
    top: 91px;
    font-size: 18px;

    b {
      margin-right: 15px;
    }

    @media (max-width: 1655px) {
      top: 65px;
    }
  }

  .name-on-card {
    bottom: 17px;
    font-size: 13px;
    letter-spacing: 1px;

    @media (max-width: 1655px) {
      bottom: 12px;
      margin-left: -2px;
    }
  }

  .expiration-date {
    bottom: 34px;
    left: 112px;
    font-size: 13px;
    letter-spacing: 3px;
  }
}

.credit-card.credit-card-tuohi {
  background-color: #f8f7f2;
  background-image: url('../images/creditcard-tuohi-alt.png');
  padding: 20px 22px;

  .name-on-card,
  .numbers,
  .expiration-date {
    position: absolute;
    margin: 0;
  }

  .expiration-date {
    bottom: 0 !important;
    right: 0 !important;
    left: auto !important;
    font-size: 10px !important;
    letter-spacing: 2px !important;
    padding: 5px !important;
  }

  .numbers {
    bottom: 0;
    right: auto;
    left: 5px;
    letter-spacing: 2px;
    padding: 5px;
    font-size: 9px;

    span,
    b {
      font-size: 6px;
    }

    b {
      margin-right: 0;
    }
  }

  .name-on-card {
    bottom: 45px;
    left: 10px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

.credit-card.credit-card-creditea {
  background-color: #262625;
  background-image: url('../images/creditcard-creditea.png');
  padding: 20px 22px;

  .name-on-card {
    margin: 4px 0 30px;

    @media (max-width: 1655px) {
      margin-top: 0;
    }
  }

  .numbers {
    position: relative;
    left: 2px;
    top: -5px;

    @media (max-width: 1655px) {
      top: -15px;
    }
  }

  .expiration-date {
    position: absolute;
    bottom: 24px;

    @media (max-width: 1655px) {
      bottom: 14px;
    }
  }
}

.item-creditcard {
  display: flex;

  @media (max-width: 1420px) {
    width: 100%;
    display: block;
  }

  .details {
    height: 110px;
    width: 100%;
    overflow: visible;
  }

  .col {
    display: flex;
    align-items: center;

    @media (max-width: 1420px) {
      width: 100%;
      display: block;
    }

    &.col-creditcard {
      margin-right: 3rem;
    }

    .creditor {
      margin-top: 0;
    }

    .monthly-cut {
      margin: 0 0 15px;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

