.items-paymentplans {
  h2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 1rem;
  }

  .item {
    height: 73px;
    overflow: hidden;
  }
}

.item:hover {
  cursor: pointer;

  .progress {
    height: 19px;
    padding: 1px 6px;
    border-radius: .2rem;
  }

  .progress p {
    opacity: 1;
  }

  .progress-bar {
    background: darken(#eeeef6, 5%);
    transform: translateY(-5px);
    border-radius: .2rem;
  }
}

.progress-bar {
  border-radius: .7rem;
  background: #eeeef6;
  transition: all .22s;
  white-space: nowrap;

  .progress {
    background: $color-main;
    border-radius: .7rem;
    height: 5px;
    transition: all .22s;
    white-space: nowrap;

    &.low {
      background: $color-main;
    }

    &.medium {
      background: $color-medium-alt;
    }

    &.high {
      background: $color-low;
    }
  }

  p {
    color: #fff;
    font-size: 11px;
    opacity: 0;
    transition: all .22s;
    white-space: nowrap;
  }
}
