body .dashboard-content.settings-content {
  display: block;
  width: 100%;
}

.dashboard-content .column-settings {
  max-width: 50rem;

  .settings-choices {
    border: 1px solid var(--color-darkgrey);
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 5rem;
    max-width: 20rem;
    width: 100%;
  }

  .settings-choices a {
    text-decoration: none;
    color: var(--color-blueish);
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;
    font-family: var(--font-alt);
    transition: all 170ms;

    &:hover {
      color: var(--color-darkblueish);
    }

    &:hover svg {
      stroke: var(--color-darkblueish);
    }
  }

  .settings-choices li {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    margin-right: .8rem;
    transition: all 170ms;
  }

  label {
    font-weight: 500;
    margin-bottom: 1rem;
    display: block;
  }

  button {
    padding: .84615385em 1.23076923em;
    font-weight: 400;
    background-color: var(--color-blueish);
    color: #fff;
    text-shadow: none;
    background-image: none;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: 0;
    vertical-align: baseline;
    margin: 0 .61538462rem 0 0;
    text-transform: none;
    line-height: 1.5em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .30769231rem;
    user-select: none;
    transition: opacity 175ms ease-in-out, background-color 175ms ease-in-out, color 175ms ease-in-out, box-shadow 175ms ease-in-out, background 175ms ease-in-out;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
    width: 100%;

    &:hover {
      background-color: var(--color-lightblue);
    }
  }

  input,
  select {
    margin: 0;
    outline: none;
    -webkit-appearance: none;
    tap-highlight-color: hsla(0, 0%, 100%, 0);
    line-height: 1.30769231em;
    padding: .84615385em 1.23076923em;
    font-size: 1em;
    background: #fff;
    border: 1px solid var(--color-darkgrey);
    color: var(--color-altblue);
    border-radius: .30769231rem;
    box-shadow: inset 0 0 0 0 transparent;
    transition: color 175ms ease-in-out, border-color 175ms ease-in-out;
    width: 100%;
    margin-bottom: 15px;

    &:focus {
      color: var(--color-default);
      border-color: var(--color-darkblueish);
      background: #fff;
      box-shadow: inset 0 0 0 0 rgba(34, 36, 38, .35);
    }
  }
}
