.dashboard-status-bar {
  background: linear-gradient(to bottom, $color-darkblueish 0%, $color-blueish 100%);
  box-shadow: 0 0 20px rgba(#000, .1);
  padding: 1.5rem;
  height: 100%;

  header {
    margin-bottom: auto;
  }

  @media (max-width: 760px) {
    padding: 1rem 1.5rem;
    height: auto;
  }

  h1 {
    margin: 0 0 2rem;
  }

  svg {
    fill: #fff;
    width: 2.2rem;
    height: 2.2rem;
    margin-bottom: auto;
  }

  .navigation-menu {
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    text-align: center;
  }

  .navigation-menu li {
    margin: 0 0 1rem;
    padding: 0;

    svg {
      stroke: #fff;
      fill: none;
      width: 18px;
      height: 18px;
    }
  }
}
