.dashboard-status-bar {
  background: linear-gradient(to bottom, $color-darkblueish 0%, $color-blueish 100%);
  box-shadow: 0 0 20px rgba(#000, .1);
  padding: 1.5rem;
  height: 100%;

  header {
    margin-bottom: auto;

    @media (max-width: 600px) {
      display: inline-block;
    }
  }

  @media (max-width: 600px) {
    padding: 1rem 1.5rem;
    height: auto;
  }

  h1 {
    margin: 0 0 2rem;

    a:hover svg {
      transform: scale(1.2) rotate(-3deg);
    }

    @media (max-width: 600px) {
      display: inline-block;
      margin: 0 2rem 0 0;
    }
  }

  svg {
    fill: #fff;
    width: 2.2rem;
    height: 2.2rem;
    margin-bottom: auto;
    transition: all .22s;
  }

  .navigation-menu {
    margin-bottom: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
    text-align: center;

    @media (max-width: 600px) {
      text-align: left;
      display: inline-block;
    }
  }

  .navigation-menu li {
    margin: 0 0 1.5rem;
    padding: 0;

    @media (max-width: 600px) {
      display: inline-block;
      margin: 0 1.5rem 0 0;
    }

    svg {
      stroke: #fff;
      fill: none;
      width: 18px;
      height: 18px;
      transition: all .22s;
    }

    a:hover svg {
      transform: scale(1.1);
      stroke: lighten($color-lightblue, 15%);
    }
  }
}
