// Subscriptions
.column-subscriptions {
  .item {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    transition: all .22s ease-in-out;
    overflow: hidden;
    border: 0;

    &:last-of-type {
      margin-bottom: 0;
    }

    input {
      display: none;
      font-size: 14px;
      color: #fff;
      background: transparent;
      border: 0;
      transition: all .22s ease-in-out;

      &:hover,
      &:focus {
        outline: 0;
        background: rgba(#000, .1);
      }

      &[name="subscription-biller-edit"] {
        font-size: 14px;
        font-weight: 500;
      }

      &[name="subscription-plan-edit"] {
        font-size: 11px;
        text-transform: uppercase;
      }

      &[name="subscription-date-edit"] {
        font-size: 12px;
        text-align: right;
      }

      &[name="subscription-amount-edit"] {
        font-size: 15px;
        margin-bottom: .3rem;
        font-weight: 500;
        max-width: 40px;
        margin-left: auto;
        text-align: right;
      }
    }

    // Edit mode
    &.edit-mode {
      transform: scale(1.05);
      box-shadow: 0 8px 34px 0 rgba(#000, .3);
      cursor: text;

      .edit-head {
        transition: all .22s ease-in-out;
        height: 25px;

        h3 {
          display: block;
        }
      }

      span {
        display: none;
      }

      input {
        display: flex;

        &[name="subscription-amount-edit"] {
          display: inline-block;
        }
      }

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 34px 0 rgba(#000, .3);
        cursor: text;
      }
    }

    &:hover {
      box-shadow: 0 8px 34px 0 rgba(#000, .3);
      transform: scale(1.03);
      cursor: pointer;
    }

    .biller {
      @include clearfix();
      margin: 0;
    }

    .type {
      font-size: 11px;
      text-transform: uppercase;

      @media (max-width: 600px) {
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 15rem;
        white-space: nowrap;
        display: block;
      }

      @media (max-width: 400px) {
        max-width: 10rem;
      }
    }

    .logo {
      display: flex;
      align-items: center;

      .details {
        order: 2;
        color: #fff;
        line-height: 1;

        @media(max-width: $container-mobile) {
          line-height: 1.33;
        }
      }

      svg {
        order: 1;
        width: 32px;
        height: auto;
        fill: #fff;
        margin-right: 1rem;
      }

      svg,
      svg path {
        fill: #fff;
      }
    }

    p,
    li,
    .value,
    span {
      color: #fff;
    }

    .content {
      text-align: right;
      font-size: 12px;

      .amount {
        font-size: 15px;
        margin-bottom: .3rem;
        font-weight: 500;
      }
    }

    // Types of subscriptions
    &.item-netflix {
      background: $color-netflix;
    }

    &.item-playstation {
      background: $color-playstation;
    }

    &.item-plex {
      background: $color-plex;
    }

    &.item-trakt {
      background: $color-trakt;
    }

    &.item-toshl {
      background: $color-toshl;
    }

    &.item-bookbeat {
      background: $color-bookbeat;
    }

    &.item-spotify {
      background: $color-spotify;
    }

    &.item-patreon {
      background: $color-patreon;
    }

    &.item-untappd {
      background: $color-untappd;
    }

    &.item-irccloud {
      background: $color-irccloud;

      svg {
        width: 26px;
        height: 26px;
        margin-left: 3px;
        margin-right: 13px;
      }
    }

    &.item-paypal {
      background: $color-paypal;

      svg {
        width: 28px;
        height: 28px;
        margin-left: 2px;
        margin-right: 12px;
      }
    }

    &.inactive:not(:hover) {
      opacity: .5;
      background: #bfc7cf;
      border-color: #bfc7cf;
    }
  }
}
